
scikit-learn==1.3.0
category_encoders
joblib

matplotlib
pandas
numpy
tensorflow==2.15.0
xgboost

streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider